{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}


{% set arrInvoices = invoices %}
{% set title = "Invoices"|t('craft-stripe') %}

    {% block sidebar %}
        {% include "craft-stripe/_layout/_sidebar" %}
    {% endblock %}

    {% block content %}

        <div class="tableview tablepane">
            <table class="data full-width">
                <thead>
                    <tr>
                        <th class="checkbox-cell selectallcontainer">
                            <div class="checkbox" role="checkbox" tabindex="0" aria-checked="false" aria-label="Select all"></div>
                        </th>
                        <th scope="col">Invoice ID</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Amount Due</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Invoice</th>
                    </tr>
                </thead>

                <tbody>
                    {% if arrInvoices|length %}
                        {% if arrInvoices is not empty %}
                            {% set invoices = arrInvoices.invoices %}    
                            {# invoices will have an array length of 4 - should have keys object, data, has_more, url #}
                            
                        {% endif %}    
                        
                        
                        {% for invoice in invoices.data %}
                            <tr>
                                <td class="checkbox-cell"><div class="checkbox" title="Select" role="checkbox" aria-label="Select" aria-checked="false"></div></td>
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.created }}</td>
                                <td>{{ invoice.customer }}</td>
                                <td>{{ invoice.customer_name }}</td>
                                <td>{{ invoice.customer_email }}</td>
                                <td>{{ invoice.amount_due }}</td>
                                <td>{{ invoice.amount_paid }}</td>
                                <td>{{ invoice.due_date | date("F d, Y") }}</td>
                                <td><a href="{{ invoice.hosted_invoice_url }}" target="_blank">View Invoice</a></td>
    
                            </tr>
                        {% endfor %}

                    {% endif %}
                </tbody>
            </table>

        </div>

    {% endblock %}
    



